body {
    font-family: Verdana;
}
#header {
    background-color: #9692B1;
    color: white;
    text-align: center;
    height: 80px;
}
#nav {
    background-color: #9692B1;
    color: white;
    width: 20%;
    height: 750px;
    float: left;
}
#contentT {
    background-color: #FFF4CC;
    width: 80%;
    height: 300px;
    text-align: center;
    float: right;
}
#contentB {
    background-color: #DBCC93;
    width: 80%;
    height: 450px;
    text-align: center;
    float: right;
}
#footer {
    background-color: #9692B1;
    text-align: right;
    color: white;
    clear: both;
}
a {
    color: white;
}
 #contentT img {
    width: 15%;
    margin: 20px;
}
 #contentB img {
     border: 4px solid #9692B1;
 }
 #contentB img:hover {
     border-color: #808080FF;
 }

