body {
    background: cadetblue;
    color: #ffffff;
    font-family: "MS UI Gothic";
}

header {
    background: pink;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

section {
    background: pink;
    color: yellow;
    padding: 200px;
}
