.menu, .menu li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    display: inline;
    white-space: nowrap;
}
.menu a:link, .menu a:visited {
    text-decoration: none;
    background-color: #c0c0c0;
    color: black;
    padding: 4px;
    border: 2px outset #c0c0c0;
}
.menu a:hover {
    border-style: inset;
    color: blue;
    padding: 6px 3px 3px 6px;
}